body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.boxImage{
   width: 400px;
}

.controllerButton{
    width: 40px;
    height: 40px;
}

.divider{
    padding-bottom: 120px;
}